@using BlazorClassLibrary
@using BlazorClassLibrary.Collections
@page "/showusers"
@rendermode InteractiveServer

@* @if (_loading)
{
    <div style="background-color: black;  height: 90vh;">
        <h1 style=" transform: rotate(180deg); padding-right: 80rem; color: gray; font-size: 4rem; font-family: Georgia;">@_loadingMessage</h1>
        <h1 style=" padding-left: 80rem; color: #02f72b; font-size: 10rem; font-family: Georgia;">@_loadingMessage</h1>
        <h1 style=" padding-left: 60rem;color: yellow; font-size: 12rem; font-family: Georgia;">@_loadingMessage</h1><br />
        <h1 style=" padding-left: 40rem;color: darkred; font-size: 10rem; font-family: Georgia;">@_loadingMessage</h1>
        <h1 style=" padding-left: 20rem;color: Blue; font-size: 8rem; font-family: Georgia;">@_loadingMessage</h1>
        <h1 style=" color: White; font-size: 5rem; font-family: Georgia;">@_loadingMessage</h1>
        <h1 style=" padding-right: 100rem; padding-bottom: 50rem; transform:rotate(120deg); color: pink; font-size: 5rem; font-family: Georgia;">@_loadingMessage</h1>        
    </div>
} *@
@* else
{ *@
    <TableLab FilteredUsers="_filteredUsers" Users="_users" />
@* } *@

@code {

    public List<User> _users = new List<User>();
    public List<User> _filteredUsers = new List<User>();
    private string _loadingMessage = "";
    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        ApiCollection api = new ApiCollection();
        // LoadData();
        _users = await api.GetUsers();
        _filteredUsers = _users;
    }
    // private async Task LoadData()
    // {
       
    //     _loading = true;  
    //     for (int i = 0; i < 7; i++)
    //     {
    //         StateHasChanged();
    //         if (i==0)
    //         {
    //             _loadingMessage = "Loading.";
                
    //             await Task.Delay(500);

    //         }

    //         else if (i==1)
    //         {

    //             _loadingMessage = "Loading. .";
               
    //             await Task.Delay(500);
                
    //         }
    //         else if (i==2)
    //         {
    //             _loadingMessage = "Loading. . .";
               
    //             await Task.Delay(500);
                
    //         }
    //         else if (i==3)
    //         {
    //             _loadingMessage = "Loading. . . .";
               
    //             await Task.Delay(500);
                
    //         }
    //         else if (i==4)
    //         {
    //             _loadingMessage = "Loading. . . .";
               
    //             await Task.Delay(500);
                
    //         }
    //         else if (i == 5)
    //         {
    //             _loadingMessage = "Loading. . . . .";
              
    //             await Task.Delay(500);
              
    //         }
    //         else if (i == 6)
    //         {
    //             _loadingMessage = "Loading. . . . . .";
               
    //             await Task.Delay(500);
                
    //         }

    //     }
        

    //     _loading = false; 
    //     StateHasChanged();
    // }
}
