@using BlazorClassLibrary
@using BlazorClassLibrary.Collections


<EditForm Model="@user" OnValidSubmit="@HandleValidSubmit" FormName="createUserForm">
    
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <InputText id="name" @bind-Value="@user.Name" class="form-control" />
        <ValidationMessage For="@(() => user.Name)" />
    </div>
     <div class="mb-3">
        <label for="username" class="form-label">UserName</label>
        <InputText id="username" @bind-Value="@user.UserName" class="form-control" />
        <ValidationMessage For="@(() => user.UserName)" />
    </div>
  

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <InputText id="email" @bind-Value="@user.Email" class="form-control" />
        <ValidationMessage For="@(() => user.Email)" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@if (submitMessage != null)
{
    <p>@submitMessage</p>
}

@code {



    private User user = new User();
    private string? submitMessage;

    private void HandleValidSubmit()
    {
        submitMessage = $"User {user.Name} with email {user.Email} submitted successfully!";
        user = new User(); 
    }
}