@using BlazorClassLibrary
@using BlazorClassLibrary.Collections
@rendermode InteractiveServer

@if (_showFields)
{
	<EditForm Model="@_user" OnValidSubmit="@HandleValidSubmit" FormName="createUserForm">
		<DataAnnotationsValidator />

		<div class=" accordion-flush">
			Name
			<InputText id="name" @bind-Value="@_user.Name" class="form-control" />
			<ValidationMessage For="@(() => _user.Name)" />
		</div>
		<div class="accordion-flush">
			UserName
			<InputText id="username" @bind-Value="@_user.UserName" class="form-control" />
			<ValidationMessage For="@(() => _user.UserName)" />
		</div>
		<div class="accordion-flush">
			Email
			<InputText id="email" @bind-Value="@_user.Email" class="form-control" />
			<ValidationMessage For="@(() => _user.Email)" />
		</div>
		<div class="accordion-flush">
			Age
			<InputNumber id="age" @bind-Value="@_user.Age" class="form-control" />
			<ValidationMessage For="@(() => _user.Age)" />
		</div>
		<br />
		<button type="submit" class="border-success">Submit</button>
	</EditForm>
}
else
{
	<p style="font-family: Georgia"> @_submitMessage</p>
	@_counter
}

@code {
	UserCollection userCollection = new UserCollection();

	private User _user = new User();
	private MarkupString _submitMessage;
	private List<User> _users = new List<User>();
	private bool _showFields = true;
	private int _id = 0;
	private string _counter = "";

	protected override async Task OnInitializedAsync()
	{
		_users = userCollection.GetUsers();
	}

	private async Task HandleValidSubmit()
	{
		
		_user.Id = _users.Count + 1;
		userCollection.AddUser(_user);
		userCollection.SaveList();
		_showFields = false;
		_submitMessage = (MarkupString)$"User {_user.Name} was created with the following information:<br><br> ID: {_user.Id}<br> Age: {_user.Age}<br>Username: {_user.UserName}<br>Email: {_user.Email}";
		_user = new User();
		

		for (int i = 6; i > 0; i--)
		{
			_counter = $"Coming back to start in: {i - 1}";
			await Task.Delay(800);
			StateHasChanged();
		}
		_showFields = true;
	}
}