@using BlazorClassLibrary
@using BlazorClassLibrary.Collections
@rendermode InteractiveServer

@if (_showFields)
{
    <div style="display: flex; justify-content:center; align-items: center; height: 95vh;">
    <EditForm Model="@_user" OnValidSubmit="@HandleValidSubmit" FormName="createUserForm" style="background-color: #eff; border: 1ox solid #eff; width:25rem; padding: 2rem;">
        <DataAnnotationsValidator />
        <br /><br />
        <div style="font-family: Georgia; font-weight:bold; " class=" accordion-flush">
            Name
            <InputText id="name" @bind-Value="@_user.Name" class="form-control" />
            <ValidationMessage For="@(() => _user.Name)" />
        </div>
        <br />
        <div style="font-family: Georgia; font-weight:bold; " class="accordion-flush">
            Age
            <InputNumber id="Age" @bind-Value="@_user.Age" class="form-control" />
            <ValidationMessage For="@(() => _user.Age)" />
        </div>
        <br />
        <div style="font-family: Georgia; font-weight:bold; " class="accordion-flush">
            User name
            <InputText id="username" @bind-Value="@_user.UserName" class="form-control" />
            <ValidationMessage For="@(() => _user.UserName)" />
        </div><br />
        <div style="font-family: Georgia; font-weight:bold; " class="accordion-flush">
            Email
            <InputText id="email" @bind-Value="@_user.Email" class="form-control" />
            <ValidationMessage For="@(() => _user.Email)" />
        </div><br />
        <div style="font-family: Georgia; font-weight:bold; " class="accordion-flush">
            City
            <InputText id="city" @bind-Value="@_user.Address.City" class="form-control" />
        </div><br />
        <div style="font-family: Georgia; font-weight:bold; " class="accordion-flush">
            Company Name
            <InputText id="compyName" @bind-Value="@_user.Company.Name" class="form-control" />
        </div><br />
        <br />

            <div style="display:flex; justify-content: center; align-items:center;">
        <button class="btn btn-primary, cool-button">
            Submit
        </button>
            </div>

    </EditForm>
    </div>
}
else
{
    <p style="font-family: Georgia"> @_submitMessage</p>
    <NavLink href="/CreateNewUser" style="text-decoration: none;">
        <button @onclick="ChangeBoolValue" class="btn btn-primary">Press to create new user</button>
    </NavLink>
    <NavLink href="/ShowUsersFromFile" style="text-decoration: none;">
        <button class="btn btn-primary">Press to see users</button>
    </NavLink>
}

@code {
    UserCollection userCollection = new UserCollection();

    private User _user = new User();
    private MarkupString _submitMessage;
    private List<User> _users = new List<User>();
    private bool _showFields = true;

    protected override void OnInitialized()
    {
        _showFields = true;
        _users = userCollection.GetUsers();
    }

    private void HandleValidSubmit()
    {
        _user.Id = userCollection.Users.Count + 1;
        AddUserAndSaveList();
        SendMessage();
        _user = new User();
    }

    public void AddUserAndSaveList()
    {
        userCollection.AddUser(_user);
        userCollection.SaveList();
    }

    public void SendMessage()
    {
        ChangeBoolValue();
        _submitMessage = (MarkupString)$"User <span style=\"font-weight:bold;\">{_user.Name}</span> was created with the following information:<br><br> <span style=\"font-weight: bold;\">ID:</span> {_user.Id}<br> <span style=\"font-weight: bold;\">Name</span>: {_user.Name}<br><span style=\"font-weight: bold;\">Age</span>: {_user.Age}<br><span style=\"font-weight: bold;\">Username</span>: {_user.UserName}<br><span style=\"font-weight: bold;\">Email</span>: {_user.Email} <br><span style=\"font-weight: bold;\">City</span>: {_user.Address.City}<br><span style=\"font-weight: bold;\">Company name</span>: {_user.Company.Name}";
    }

    private void ChangeBoolValue()
    {
        if (!_showFields)
        {
            _showFields = true;
        }
        else
        {
            _showFields = false;
        }
        
    }
}