@using BlazorClassLibrary
@using BlazorClassLibrary.Collections
@rendermode InteractiveServer

<h1 style="  ">All users from API</h1>

<div style="background-color: thistle; font-weight: 900;">
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th>
					<button type="button" @onclick="SortByID">ID</button>
				</th>
				<th>
					<button type="button" @onclick="SortByName">Name</button>
				</th>
				<th @>Username</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Website</th>
				<th>City</th>
				<th>Suite</th>
				<th>Street</th>
				<th>ZipCode</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>Company name</th>
				<th>Company catchphrase</th>
				<th>Company BS</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in users)
			{
				<tr>
					<td>@user.Id</td>
					<td>@user.Name</td>
					<td>@user.UserName</td>
					<td>@user.Email</td>
					<td>@user.Phone</td>
					<td>@user.Website</td>
					<td>@user.Address.City</td>
					<td>@user.Address.Suite</td>
					<td>@user.Address.Street</td>
					<td>@user.Address.ZipCode</td>
					<td>@user.Address.Geo.Lat</td>
					<td>@user.Address.Geo.Lng</td>
					<td>@user.Company.Name</td>
					<td>@user.Company.CatchPhrase</td>
					<td>@user.Company.BS</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<input @bind="SearchTerm" placeholder="Search for user" />
<button type="button" @onclick="Search">Search now</button>
@TextMessage

@code {
	protected override async Task OnInitializedAsync()
	{
		ApiCollection api = new ApiCollection();
		users = await api.GetUsers();
	}

	SortingCollection sortingCollection = new SortingCollection();
	private string TextMessage = String.Empty;
	private List<User> users = new();
	public string SearchTerm = String.Empty;

	private void SortByName() => users = sortingCollection.SortByName(users);
	private void SortByID() => users = sortingCollection.SortByID(users);


	public void Search()
	{




		if (!users.Any())
		{
			TextMessage = "Nothing found!";
		}
		else
		{
			List<User> originalUsers = [];

			users = originalUsers.Where(item => item.Name.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase)).ToList();

			if (users.Count > 0)
			{
				TextMessage = $"Following users found with the term '{SearchTerm}'";
			}

			else
			{
				TextMessage = $"No users found with the term '{SearchTerm}'";
			}

			
			foreach (var item in users)
			{
				Console.WriteLine(item.Name);
			}
		}
	}
}