@using BlazorClassLibrary
@using BlazorClassLibrary.Collections
@rendermode InteractiveServer

<h1 style="  ">All users from API</h1>

<div>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th style="cursor: pointer; transition: background-color 0.3s ease; font-weight: 900;background-color:thistle; " @onclick="SortByID">
					<span style="display: flex; align-items: center;">
						ID <img style="width: 20px; height: 20px; margin-left: 10px;" src="Images\ArrowUpAndDown.png" />
					</span>
				</th>
				<th style="cursor: pointer; transition: background-color 0.3s ease; font-weight: 900;background-color:thistle; " @onclick="SortByName">
					<span style="display: flex; align-items: center;">
						NAME <img style="width: 20px; height: 20px; margin-left: 50px;" src="Images\ArrowUpAndDown.png" />
					</span>
				</th>
				
				<th style="cursor: pointer; transition: background-color 0.3s ease; font-weight: 900;background-color:thistle; " @onclick="SortByName">
					<span style="display: flex; align-items: center;">
						USERNAME <img style="width: 20px; height: 20px; margin-left: 50px;" src="Images\ArrowUpAndDown.png" />
					</span>
				</th>
				<th style="cursor: pointer; transition: background-color 0.3s ease; font-weight: 900;background-color:thistle; " @onclick="SortByName">
					<span style="display: flex; align-items: center;">
						EMAIL <img style="width: 20px; height: 20px; margin-left: 50px;" src="Images\ArrowUpAndDown.png" />
					</span>
				</th>
				@* <th>Phone</th>
				<th>Website</th>> *@
				<th style="cursor: pointer; transition: background-color 0.3s ease; font-weight: 900;background-color:thistle; " @onclick="SortByName">
					<span style="display: flex; align-items: center;">
						CITY <img style="width: 20px; height: 20px; margin-left: 50px;" src="Images\ArrowUpAndDown.png" />
					</span>
				</th>
				@* <th>Suite</th>
				<th>Street</th>
				<th>ZipCode</th>
				<th>Latitude</th>
				<th>Longitude</th *@
				<th style="cursor: pointer; transition: background-color 0.3s ease; font-weight: 900;background-color:thistle; " @onclick="SortByName">
					<span style="display: flex; align-items: center;">
						COMPANY NAME <img style="width: 20px; height: 20px; margin-left: 50px;" src="Images\ArrowUpAndDown.png" />
					</span>
				</th>
				@* <th>Company catchphrase</th>
				<th>Company BS</th> *@
			</tr>
		</thead>
		<tbody>
			@foreach (var user in users)
			{
				<tr>
					<td>@user.Id</td>
					<td>@user.Name</td>
					<td>@user.UserName</td>
					<td>@user.Email</td>
					@* <td>@user.Phone</td>
					<td>@user.Website</td> *@
					<td>@user.Address.City</td>
					@* <td>@user.Address.Suite</td>
					<td>@user.Address.Street</td>
					<td>@user.Address.ZipCode</td>
					<td>@user.Address.Geo.Lat</td>
					<td>@user.Address.Geo.Lng</td> *@
					<td>@user.Company.Name</td>
					@* <td>@user.Company.CatchPhrase</td>
					<td>@user.Company.BS</td> *@
				</tr>
			}
		</tbody>
	</table>
</div>
<input @bind="SearchTerm" placeholder="Search for user" />
<button type="button" @onclick="Search">Search now</button>
@TextMessage

@code {
	protected override async Task OnInitializedAsync()
	{
		ApiCollection api = new ApiCollection();
		users = await api.GetUsers();
	}

	SortingCollection sortingCollection = new SortingCollection();
	private string TextMessage = String.Empty;
	private List<User> users = new();
	public string SearchTerm = String.Empty;

	private void SortByName() => users = sortingCollection.SortByName(users);
	private void SortByID() => users = sortingCollection.SortByID(users);


	public void Search()
	{
		if (!users.Any())
		{
			TextMessage = "Nothing found!";
		}
		else
		{
			List<User> originalUsers = users;

			users = users.Where(item => item.Name.Contains(SearchTerm, StringComparison.OrdinalIgnoreCase)).ToList();

			if (users.Count > 0)
			{
				TextMessage = $"Following users found with the term '{SearchTerm}'";
			}

			else
			{
				TextMessage = $"No users found with the term '{SearchTerm}'";
			}

			
			foreach (var item in users)
			{
				Console.WriteLine(item.Name);
			}
		}
	}
}